In [2]:
import pandas as pd
import numpy as np

In [9]:
income = pd.read_csv('05_구_상권배후지_소득소비.csv', encoding='cp949')
income[income['기준 년 코드']==2021]

,기준 년 코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,2021,1,A,골목상권,1000193,왕산로43길,2729716,6,7501923026,2151712515,888933146,553108402,1067767035,1166698759,261418507,233074790,865027157,314182715
1,2021,1,A,골목상권,1000298,정릉로27길,3355209,7,11842475922,3099929654,1428912815,849935987,1555173516,1968536418,440069908,348552899,1651824332,499540393
2,2021,1,A,골목상권,1000297,정릉로26길,3338064,7,6179246740,1683952466,733874296,430168476,826003935,976992453,213755800,182240005,871685006,260574303
3,2021,1,A,골목상권,1000296,장위로50길,2416795,5,5235197988,1501033989,616414129,374450525,756011966,807825584,183610620,160542222,621093249,214215704
4,2021,1,A,골목상권,1000295,장월로1길,2956757,6,4803914725,1364476852,574723444,344562961,659910597,734715693,163371736,152451762,605566880,204134800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,2021,4,A,골목상권,1000735,국사봉길,2605976,6,13525863655,3428908429,1646600673,997243580,1716333935,2324298697,510927879,405360282,1922407408,573782772
4036,2021,4,A,골목상권,1000734,국사봉2길,2748926,6,9298010825,2355686172,1138136164,699615662,1159761792,1592522630,356252120,283947553,1314839335,397249397
4037,2021,4,A,골목상권,1000733,국사봉1길,2682472,6,11213510849,2858940834,1365736078,836736660,1424465301,1915773650,426435919,340419639,1570075938,474926830
4038,2021,4,A,골목상권,1000732,영신로9길,2415422,5,7407013525,2116744460,879550843,529636597,1011037684,1137530389,251210185,233969263,933349356,313984748
4039,2021,4,A,골목상권,1000731,영등포로84길,2806083,6,6637828646,1838485610,802529906,499511851,883009154,1012075339,236967170,218628354,860910812,285710450

In [10]:
apt = pd.read_csv('05_구_상권배후지_아파트.csv', encoding='cp949')
apt[apt['기준_년_코드']==2021].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4036 entries, 0 to 4035
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   기준_년_코드                 4036 non-null   int64
 1   기준_분기_코드                4036 non-null   int64
 2   상권_구분_코드                4036 non-null   object
 3   상권_구분_코드_명              4036 non-null   object
 4   상권_코드                   4036 non-null   int64
 5   상권_코드_명                 4036 non-null   object
 6   아파트_단지_수                4036 non-null   int64
 7   아파트_면적_66_제곱미터_미만_세대_수  4036 non-null   int64
 8   아파트_면적_66_제곱미터_세대_수     4036 non-null   int64
 9   아파트_면적_99_제곱미터_세대_수     4036 non-null   int64
 10  아파트_면적_132_제곱미터_세대_수    4036 non-null   int64
 11  아파트_면적_165_제곱미터_세대_수    4036 non-null   int64
 12  아파트_가격_1_억_미만_세대_수      4036 non-null   int64
 13  아파트_가격_1_억_세대_수         4036 non-null   int64
 14  아파트_가격_2_억_세대_수         4036 non-null   int64
 15  아파트_가격_3_억_세대_수         4036 non-null   int64
 16  아파트_가격_4_억_세대_수         4036 non-null   int64
 17  아파트_가격_5_억_세대_수         4036 non-null   int64
 18  아파트_가격_6_억_이상_세대_수      4036 non-null   int64
 19  아파트_평균_면적               4036 non-null   int64
 20  아파트_평균_시가               4036 non-null   int64
dtypes: int64(18), object(3)
memory usage: 693.7+ KB

In [13]:
infra = pd.read_csv('05_구_상권배후지_집객시설.csv')
infra[infra['기준_년_코드']==2021].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4040 entries, 24240 to 28279
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년_코드     4040 non-null   int64
 1   기준_분기_코드    4040 non-null   int64
 2   상권_구분_코드    4040 non-null   object
 3   상권_구분_코드_명  4040 non-null   object
 4   상권_코드       4040 non-null   int64
 5   상권_코드_명     4040 non-null   object
 6   집객시설_수      4040 non-null   int64
 7   관공서_수       3915 non-null   float64
 8   은행_수        3607 non-null   float64
 9   종합병원_수      465 non-null    float64
 10  일반_병원_수     1645 non-null   float64
 11  약국_수        4010 non-null   float64
 12  유치원_수       2450 non-null   float64
 13  초등학교_수      3132 non-null   float64
 14  중학교_수       1971 non-null   float64
 15  고등학교_수      1532 non-null   float64
 16  대학교_수       935 non-null    float64
 17  백화점_수       44 non-null     float64
 18  슈퍼마켓_수      1184 non-null   float64
 19  극장_수        326 non-null    float64
 20  숙박_시설_수     1690 non-null   float64
 21  공항_수        20 non-null     float64
 22  철도_역_수      0 non-null      float64
 23  버스_터미널_수    14 non-null     float64
 24  지하철_역_수     2105 non-null   float64
 25  버스_정거장_수    4040 non-null   int64
dtypes: float64(18), int64(5), object(3)
memory usage: 852.2+ KB